//
// General Styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: calc(100vh - 200px);
    padding: 1rem 15%;
    h1 {
        text-align: center;
    }
}

header, footer {
    height: 100px;
    width: 100%;
    background-color: grey;
    padding: 1rem 15%;
}
